/* INÍCIO - Elementos gerais */

body{
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

h3{
    background-color: #F2EDED;
}

.container	{ 
    margin: 0	auto;
    width: 940px;
}

/* FIM - Elementos gerais */

/* INÍCIO - Header */

header {
    position: relative;
}

.container-header	{
    margin: 0	auto;
    width: 940px;
}

.sacola{
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    padding-right: 30px;
    text-align: right;
    width: 140px;
    /* sacola deve estar posicionada a direita e no topo */
    position: absolute;
    top: 0;
    right: 0;
    /* sacola deve estar posicionada a direita e no topo */
} 

.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes ul li	{
    display:	inline;
    margin-left: 20px;    
}

.menu-opcoes ul{
    font-size: 15px;
}

.menu-opcoes a{
    color: #003366;    
    text-decoration: none;
} 

/* FIM - Header */

/* INÍCIO - Container */

.destaque	{
    margin-top: 10px;
}

/* INÍCIO - Busca de Produtos */ 

.busca{
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase; 

    margin-right: 10px;
    width: 230px; 

    float:	left;      
}

.busca h2,
.busca form {
    margin: 10px;
} 

.busca input[type=search] {
    width: 145px;
}

/* FIM - Busca de Produtos */

/* INÍCIO - menu-departamentos */
.menu-departamentos {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase; 

    margin-right: 10px;
    margin-left: 0px;

    width: 230px; 

    float:	left; 
    clear:	left; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;   
} 

.menu-departamentos h2 {
    margin: 10px;
}

.menu-departamentos nav {    
    margin-left: 0px;
}

.menu-departamentos ul {    
    margin-left: 0px;
}

.menu-departamentos li {
    background-color: white;
    margin-bottom: 3px;
    margin-left: -40px;
    padding: 5px 3px 3px 3px; 
    list-style-type: none; 
}

.menu-departamentos a {
    color: #333333;
    margin-left: 15px;
    text-decoration: none;
}
/* FIM - menu-departamentos */

/*INÍCIO - banner-destaque */
.banner-destaque{
    margin-top: 10px;
}

#foto-banner-destaque-home{
    width: 370px; 
    margin-left: 240px;
} 
/*FIM - banner-destaque */

/* INÍCIO - Paineis Flutuantes */
.painel{
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}

.novidades{
    float: left;
}

.mais-vendidos{
    float: right;
}

.painel li{
    display: inline-block;
    vertical-align: top;
    width: 140px;

    margin: 2px;
    padding-bottom: 10px;
}

.painel h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.painel a{
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.novidades {
    background-color: #f5dcdc;
}

.mais-vendidos{
    background-color: #dcdcf5;
}

/* FIM - Paineis Flutuantes */

/* INÍCIO - produto-destaque */

h1#topo-da-pagina  { /* título H1 */
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

div.textos-bloco{
    padding: 0 45px;
    margin: 30px;
    text-indent: 15px;
    height: auto;
    width: auto;
    text-align: left;
    background-color: #fffcfc
}
 
#produto-1{ /* estilização dessa foto */    
    margin: 0 10px 20px 30px;
}

figure#produto-1 {/* box de todas as figuras */
    background-color: #F2EDED;
    border: 1px	solid #ccc;
    text-align:	center;
    padding: 15px;
}

figure#produto-1 figcaption{/* legenda de todas as figuras */
    font-style: italic;
    padding: 3px;
    margin: 1px;
}

h2#titulo-produto{ /* Subtítulo H2 */
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

p.textos{    
    padding: 0 45px;
    margin: 30px;
    text-indent: 15px;
    height: auto;
    width: auto;
    text-align: left;
    background-color: #fffcfc
} 

/* FIM - produto-destaque */

/* FIM - Container */ 

/* INÍCIO - mapa da pagina */
.mapadapagina{ 
    padding-left: 15px;
}
/* FIM - mapa da pagina */

/* INÍCIO - rodapé */
#rodape{
    color: #777;
    margin: 30px 0;
    padding: 30px 0;    
}

#rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 74px;
}
/* FIM - rodapé */ 