body{/* corpo da págin inteira */
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

/* INÍCIO -  menu	 à	 direita	 e	 embaixo	 no	 header*/
header {
    position: relative;
}

.container	{
    margin: 0	auto;
    width: 940px;
}

.sacola{
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    padding-right: 35px;
    padding-top: 8px;
    text-align: right;
    width: 140px;
    /* sacola deve estar posicionada a direita e no topo */
    position: absolute;
    top: 0;
    right: 0;
    /* sacola deve estar posicionada a direita e no topo */
}


.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes ul li	{
    display:	inline;
    margin-left: 20px;
}

.menu-opcoes ul{
    font-size: 15px;
}

.menu-opcoes a{
    color: #003366;
} 

/* FIM -  menu	 à	 direita	 e	 embaixo	 no	 header*/

#topo-da-pagina  { /* título H1 */
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

.mapadapagina{/* mapa de site */
    padding-left: 15px;
}

/* INÍCIO - rodapé */
#rodape{
    color: #777;
    margin: 30px 0;
    padding: 30px 0;    
}

#rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 74px;
}
/* FIM - rodapé */